{% include "header.html" %}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="/static/img/herbal_1.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">Your Trusted Partner in Herbal Healthcare</h1>
                </div>
                <p>At our herbal healthcare center, we believe in the power of nature to heal and rejuvenate. Our approach combines ancient Ayurvedic wisdom with modern wellness practices to offer comprehensive care for you and your family. Whether you are seeking to enhance your overall well-being or address specific health concerns, our team of qualified herbalists and practitioners are here to guide you. We specialize in personalized treatments, including herbal medicine, detoxification therapies, and lifestyle recommendations, all tailored to your unique needs.</p>
                <p>Our mission is to empower you to take charge of your health naturally. With a deep commitment to holistic healing, we focus on balancing the body, mind, and spirit. Join us on a journey towards optimal health and discover the transformative benefits of herbal healthcare.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-leaf text-primary mb-3"></i>
                            <h6 class="mb-0">Natural<small class="d-block text-primary">Remedies</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-heartbeat text-primary mb-3"></i>
                            <h6 class="mb-0">Holistic<small class="d-block text-primary">Care</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-hand-holding-heart text-primary mb-3"></i>
                            <h6 class="mb-0">Personalized<small class="d-block text-primary">Consultations</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-seedling text-primary mb-3"></i>
                            <h6 class="mb-0">Sustainable<small class="d-block text-primary">Practices</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Doctors</h5>
            <h1 class="display-4">Best Doctors Teams</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/static/img/team-1.jpg" style="object-fit: cover;" alt="Doctor Image">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. R.K Pandey</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Heart Speciality</h6>
                            <p class="m-0">Great experienced in there field </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/static/img/team-2.jpg" style="object-fit: cover;" alt="Doctor Image">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. B.D. Thakur</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Skin Care</h6>
                            <p class="m-0"> Great experienced in there field </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/static/img/team-3.jpg" style="object-fit: cover;" alt="Doctor Image">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr.S.K. Rajput</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">OT Speciality</h6>
                            <p class="m-0">Great experienced in their field</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% include "footer.html" %}